<h1>This is twitter bootstrap'd</h1>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      This is a column on the left
      <a class="btn btn-primary">Yeah buddy</a>
    </div>

    <div class="span10">
      This is a wider column on the right
      <a class="btn btn-warning">Warning!</a>
    </div>
  </div>
</div>

